@import "../../variables.scss";

.header-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.separation {
    width: 269px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $secondary-bg;
    border-bottom: 1px solid $secondary-bg;
    background-color: $primary-bg;
}