$sidebar-bg: #141820;
$sidebar-bg-alt: #0c0f16;
$sidebar-color: #727479;

$header-bg: #2d3547;
$header-bg-alt: #364255;
$header-color: #cbced3;

$primary-bg: #1a1f2b;
$primary-bg-alt: #12151d;
$primary-color: #a9aeb4;

$secondary-bg: #212836;
$secondary-color: #989ea5;

$tertiary-bg: #171b25;
$tertiary-color: #8a8d9a;

$font-color: #cfd5dd;


/* colors */
$link-color: #6725d1;
$link-color-alt: #7d39eb;
$blue: #466cff;
$blue-alt: #2f4dc4;
$purple: #a047f7;
$purple-alt: #8c2ace;

$red: #d63384;
$red-alt: #8a1750;
$green: #20c997;
$green-alt: #167c53;
$yellow: #ffc107;
$yellow-alt: #aa7114;

$purple-gradient: linear-gradient(90deg, $blue 0%, $purple 100%);
$purple-gradient-alt: linear-gradient(90deg, $blue-alt 0%, $purple-alt 100%);
